/** 
      1. ttm-row 

      2. Row-Equal-Height

      3. Bg-Layer 

      4. Row-Bg-Image

      5. Col-Bg-Image

      6. Section-Title 

      7. Separator

      8. Buttons

      9. Icons

      10. Fid

      11. featured-icon-box

      12. Featured-imagebox

      13. Processbox

      14. Progress-Bar 

      15. Testimonial

      16. Client-row

      17. Accordion

      18. Wrap-Form

      19. Tab

      20. Boxes-Spacing

      21. Pricing-Plan

      22. Sidebar

      23. products
      

**/


/* ===============================================
    1.ttm-row
------------------------*/

.ttm-row{ padding: 90px 0;}

.ttm-row.grid-section{padding-bottom: 60px;}


/* ===============================================
    2.Row-Equal-Height
------------------------*/

/* ===============================================
    3.Bg-Layer 
------------------------*/
/* ===============================================
    4.Row-Bg-Image  
------------------------*/
.bg-img2{
    background-image: url(../images/bg-image/row-bgimage-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* ===============================================
    5.Col-Bg-Image  
------------------------*/


/* ===============================================
    7.Section-Title  
------------------------*/

/* ===============================================
    8.separator
------------------------*/

/* ===============================================
    9.Buttons
------------------------*/
.ttm-btn{ 
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    padding: 11px 32px 11px 31px;
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    z-index: 9;
    vertical-align: middle;
    text-transform: capitalize;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ttm-btn.ttm-icon-btn-right{ padding-right: 44px; }
.ttm-btn.ttm-icon-btn-right i{ right: 20px;}
.ttm-btn.ttm-icon-btn-right{ padding-right: 22px; }
.ttm-btn.ttm-icon-btn-right i{ right: 2px; }

.ttm-bgcolor-darkgrey .ttm-btn:hover.btn-inline.ttm-btn-color-skincolor{
    background-color: transparent;
    color: #fff;
}
/** btn-with-icon **/
.ttm-btn i{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.ttm-btn.ttm-icon-btn-right{ text-align: right; }

/** btn-size-xs **/

/** btn-size-sm **/
.ttm-btn.ttm-btn-size-sm { font-size: 14px; padding: 10px 24px 10px 24px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-right{ padding-right: 35px; }
.ttm-btn.ttm-btn-size-sm i {
    font-size: 10px;
    right: 16px;
    line-height: 1;
}

/** btn-size-md **/
.ttm-btn.ttm-btn-size-md { font-size: 14px; padding: 10px 30px 10px 30px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-right { padding-right: 48px; }
.ttm-btn.ttm-btn-size-md i {
    font-size: 11px;
    height: 11px;
    line-height: 1;
    right: 20px;
}

/** btn-size-lg **/

/** btn-shape **/

/** btn-style-border **/

/** btn-inline **/
.ttm-btn.btn-inline{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 0 !important;
    border: 1px solid transparent;
    background-color: transparent;
    overflow: visible;
}
.ttm-btn.btn-inline i{ 
    position: unset;
    transform: unset;
    display: inline-block;
    vertical-align: middle;
    transition: 0s;
}
.ttm-btn.btn-inline.ttm-icon-btn-right i{ margin-left: 4px;}

/* play-btn / play-icon */
@keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }

/* ===============================================
    10.Icons
------------------------*/

/** icon-size-xs **/

/** icon-size-sm **/

/** icon-size-md **/

/** icon-size-lg **/

/** icon-size-xl **/

/** icon-shape **/

/** icon-style-border **/


/* ===============================================
    11.Fid
------------------------*/
/*  topicon */
/*  style1 */
/*  style2 */

/* ===============================================
    12.featured-icon-box ( only contents )
------------------------*/
.featured-title h5{ font-size: 19px; line-height: 26px; margin-bottom: 0px;}
.featured-desc p{margin-bottom: 0;}

body{ counter-reset: section; } 
/*  style1 */
/*  style2 */
/*  style3 */
/*  without-icon */
/*  style4 */

/*  style5 */
/*  style6 */

/*  style7 */

/*  style8 */

/* style9 */


/* ===============================================
    13.featured-imagebox ( contents with image)
------------------------*/
.featured-imagebox .featured-thumbnail{position: relative;overflow: hidden;}


/*  Team  */
/*  style2  */

/*  Portfolio  */
/*  style2  */
/* testimonial-slide */


/*  blog  */
.featured-imagebox-blog{
    background-color: #fff;
    margin-bottom: 10px;
}
.featured-imagebox-blog:hover{
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.10);
    box-shadow: 1px 2px 10px rgba(0,0,0,.10);
}
.featured-imagebox-blog .featured-thumbnail{position: relative;overflow: hidden;}
.featured-imagebox-blog:hover .featured-thumbnail img{
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
    -webkit-transition: all 3s ease-out;
    transition: all 3s ease-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.ttm-blog-overlay-iconbox a{
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -17px;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 25px;
    background: transparent;
    -webkit-transition: all .9s ease;
    -o-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
    transform: scale(0);
    -webkit-transform: scale(0);
}
.featured-imagebox-blog:hover .ttm-blog-overlay-iconbox a{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.featured-imagebox-blog .featured-content{padding: 45px 25px 25px 25px; position: relative;}
.post-meta{
    display: block;
    padding: 5px 0;
    margin: 10px 0;
}
.featured-imagebox-blog .post-meta{
    display: block;
    padding: 5px 0px;
    margin: 12px 0px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
}
.featured-imagebox-blog .post-meta .ttm-meta-line:not(:last-child){  padding-right: 23px;}
.post-meta i{padding-right: 5px;}
.post-meta .ttm-meta-line{position: relative;}
.post-meta .ttm-meta-line:not(:last-child):after{
    position: absolute;
    content: "";
    height: 16px;
    width: 1px;
    right: 10px;
    top: 0;
    background-color: #dce1e9;
}
.ttm-box-post-date{
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
}
.ttm-box-post-date .entry-date{
    height: 60px;
    width: 60px;
    display: block;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.featured-imagebox-blog .ttm-box-post-date{
    left: 25px;
    top: -35px;
    border-radius: unset;
}
.ttm-entry-date span{display: block;}
.featured-imagebox-blog .ttm-box-view-overlay:after{
    content: '';
    position: absolute;
    left: 0!important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.featured-imagebox-blog .ttm-box-view-overlay:before{
    content: '';
    position: absolute;
    right: 0!important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}
.featured-imagebox-blog:hover .ttm-box-view-overlay:before,
.featured-imagebox-blog:hover .ttm-box-view-overlay:after{
    opacity: .5;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
/*  style2  */

/*  services  */


/*  services  */


/* post */
/* ===============================================
    14.Processbox
------------------------*/

/* ===============================================
    15.Progress-Bar
------------------------*/


/* ===============================================
    16.Testimonial
------------------------*/

/* ===============================================
    17.Client-row  
------------------------*/

/* ===============================================
    18.Accordion
------------------------*/

/* accordion.style2 */

/* ===============================================
    19.Wrap-Form
------------------------*/
/* quote-form */


/* ===============================================
    20.Tab
------------------------*/

/* ttm-tab-style-vertical */

/* ttm-tab-style-horizontal */

/* ttm-tab-style-classic-style1*/
/* ttm-tab-style-classic-style2*/
/* ===============================================
    21.Boxes-Spacing
------------------------*/

/* ===============================================
    22.Pricing-Plan
------------------------*/
/* ===============================================
    23.Sidebar
------------------------*/

/*author-widget*/

/*widget-search*/

/*widget-categories*/

/** ttm-recent-post-list **/
ul.ttm-recent-post-list>li {
    padding: 5px 0 15px !important;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}
ul.ttm-recent-post-list>li:last-child{padding-bottom: 0 !important;}
ul.ttm-recent-post-list>li img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid rgba(46,56,77,1);
}
ul.ttm-recent-post-list>li .post-date {
    display: block;
    font-size: 11px;
    line-height: 14px;
    margin-top: 5px;
}
ul.ttm-recent-post-list>li .post-date i{margin-right: 7px;font-size: 11px;}
/* widget_media_gallery */
/* tagcloud-widget */

/* widget-nav-menu */
/* categories-widget */
/* product-list-widget */

/* contact-widget */
/* download-widget */
/* widget_media_image */

/* pagination */
.ttm-pagination {
   display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.ttm-pagination .page-numbers {
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
    background-color: #f8f9fa;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #f8f9fa;
    border-radius: 0;
    margin: 0 3px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* ===============================================
    23.Products
------------------------*/

/* single-product-details */

/* Cart */


/* checkout */


