/** 
      1. ttm-row 

      2. Row-Equal-Height

      3. Bg-Layer 

      4. Row-Bg-Image

      5. Col-Bg-Image

      6. Section-Title 

      7. Separator

      8. Buttons

      9. Icons

      10. Fid

      11. featured-icon-box

      12. Featured-imagebox

      13. Processbox

      14. Progress-Bar 

      15. Testimonial

      16. Client-row

      17. Accordion

      18. Wrap-Form

      19. Tab

      20. Boxes-Spacing

      21. Pricing-Plan

      22. Sidebar

      23. products
      

**/


/* ===============================================
    1.ttm-row
------------------------*/

.ttm-row{ padding: 90px 0;}
.ttm-row.zero-padding-section{padding: 0 0;}
.ttm-row.our-partner-section{padding-bottom: 20px;padding-top: 120px;}
.ttm-row.fid-section{padding-top: 315px;}
.ttm-row.only-testimonial-section{padding-bottom: 60px;}
.ttm-row.our-client-section{padding-top: 30px;padding-bottom: 20px;}


/* ===============================================
    2.Row-Equal-Height
------------------------*/

/* ===============================================
    3.Bg-Layer 
------------------------*/

.ttm-bg{ position: relative;}

.ttm-bg-layer ,
.ttm-bg-layer .ttm-bg-layer-inner {
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    left: 0;
}
.ttm-left-span .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-left: -100px;
    right: 0;
}
.ttm-bg.ttm-bgimage-yes>.ttm-bg-layer { opacity: .90; }

.layer-content{ position: relative ; z-index: 9; height: 100%; }

.ttm-bg.ttm-bgcolor-grey:not(.ttm-col-bgcolor-yes)>.ttm-bg-layer,
.ttm-bg.ttm-bgcolor-grey:not(.ttm-col-bgcolor-yes)>.ttm-bg-layer .ttm-bg-layer-inner {
    opacity: .7;
}
.ttm-bg.ttm-bgcolor-darkgrey>.ttm-bg-layer,
.ttm-bg.ttm-bgcolor-darkgrey>.ttm-bg-layer .ttm-bg-layer-inner{
    opacity: .8;
}
/* ===============================================
    4.Row-Bg-Image  
------------------------*/
.bg-img2{
    background-image: url(../images/bg-image/row-bgimage-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img10{
    background-image: url(../images/bg-image/row-bgimage-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* ===============================================
    5.Col-Bg-Image  
------------------------*/


/* ===============================================
    7.Section-Title  
------------------------*/

.section-title{ position: relative; }
.section-title h5{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
}
.section-title h2.title{
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 0;
}
.section-title h2.title span{
    font-style: italic;  
    font-weight: 700; 
    font-family: 'Playfair Display', serif; 
    letter-spacing: 1.2px;
}
.section-title .title-desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #6e6e6e;
}
.section-title.with-desc .title-header{margin-bottom: 52px;}
.section-title .title-header{ 
    margin-bottom: 30px;
    position: relative;
}
.section-title.with-desc .title-header:before{
    width: 52px;
    bottom: -20px;
    height: 4px;
    left: 0;
    top: auto;
    position: absolute;
    content: '';
    border: 4px solid transparent;
    border-bottom: 0;
}
.section-title.with-desc.text-center .title-header:before{left: 50%;margin-left: -26px;}
.section-title.text-left.with-desc .title-header:before{left: 0; margin-left: 0;}
.section-title.style2 {margin-bottom: 40px;}
.section-title.style2 .title-header{
    width: 52%;
    padding-right: 80px;
    margin-bottom: 0;
}
.section-title.style2 .title-header:after {
    content: "";
    right: 55px;
    height: 90%;
    position: absolute;
    top: 10%;
    width: 1px;
    border-right-width: 1px;
    background-color: #f0f0f0;
}
.section-title.style2 .title-header,
.section-title.style2 .title-desc{
    display: table-cell;
    vertical-align: middle;
}

/* ===============================================
    8.separator
------------------------*/

/* ===============================================
    9.Buttons
------------------------*/
.ttm-btn{ 
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    padding: 11px 32px 11px 31px;
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    z-index: 9;
    vertical-align: middle;
    text-transform: capitalize;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/** btn-with-icon **/
.ttm-btn i{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

/** btn-size-xs **/

/** btn-size-sm **/

/** btn-size-md **/
.ttm-btn.ttm-btn-size-md { font-size: 14px; padding: 10px 30px 10px 30px; }
.ttm-btn.ttm-btn-size-md i {
    font-size: 11px;
    height: 11px;
    line-height: 1;
    right: 20px;
}

/** btn-size-lg **/

/** btn-shape **/

/** btn-style-border **/

/** btn-inline **/

/* play-btn / play-icon */
@keyframes scaling{ 100% { width:200%;height:200%;opacity:0 } }

/* ===============================================
    10.Icons
------------------------*/
.ttm-icon{
    margin-bottom: 35px;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    box-sizing: content-box;
    position: relative;
}

.ttm-icon i{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/** icon-size-xs **/

/** icon-size-sm **/

/** icon-size-md **/

/** icon-size-lg **/
.ttm-icon.ttm-icon_element-size-lg { height: 62px; width: 62px; line-height: 62px; }
.ttm-icon.ttm-icon_element-size-lg i { font-size: 45px; }

/** icon-size-xl **/

/** icon-shape **/

/** icon-style-border **/


/* ===============================================
    11.Fid
------------------------*/
.inside {
    text-align: center;
    position: relative;
    padding: 29px 15px 25px 15px;
}
.inside h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 37px;
    line-height: 40px;
}
.inside h3 {
    margin-bottom: 0;
    bottom: -11px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 0;
    display: inline-block;
}
.ttm-fid-icon-wrapper i { font-size: 48px; }
/*  topicon */
.ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon{
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}
.ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon.ttm-icon_element-size-lg {
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 5px;
}
.ttm-fid-view-topicon .ttm-fid-icon-wrapper .ttm-icon.ttm-icon_element-size-lg i{font-size: 40px;}
.ttm-fid-view-topicon h4{font-size: 46px;line-height: 56px;}
.ttm-fid-view-topicon h3{font-weight: 500;font-size: 16px;padding-top: 10px;}
/*  style1 */
/*  style2 */

/* ===============================================
    12.featured-icon-box ( only contents )
------------------------*/
.featured-title h5{ font-size: 19px; line-height: 26px; margin-bottom: 0px;}

body{ counter-reset: section; } 
/*  style1 */
/*  style2 */
/*  style3 */
/*  without-icon */
/*  style4 */

/*  style5 */
/*  style6 */

/*  style7 */

/*  style8 */

/* style9 */


/* ===============================================
    13.featured-imagebox ( contents with image)
------------------------*/
.featured-imagebox .featured-thumbnail{position: relative;overflow: hidden;}


/*  Team  */
/*  style2  */

/*  Portfolio  */
.featured-imagebox-portfolio{position: relative;overflow: hidden;} 
.featured-imagebox-portfolio .featured-thumbnail{
    position: relative;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform,-webkit-box-shadow;
    transition-property: -webkit-transform,-webkit-box-shadow;
    transition-property: transform,box-shadow;
    transition-property: transform,box-shadow,-webkit-transform,-webkit-box-shadow;
}
.featured-imagebox-portfolio.style1:hover .featured-thumbnail{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}
.featured-imagebox-portfolio .ttm-box-view-overlay{
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.75);
}
.featured-imagebox-portfolio:hover .ttm-box-view-overlay{ opacity: 1;}
.featured-imagebox-portfolio .ttm-media-link a{
    display: inline-block;
    font-size: 17px;
    position: absolute;
    top: 42%;
    right: 50%;
    margin-top: -17px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    margin-right: 3px;
    transform: translateX(-20px);
    -webkit-transition: .5s;
    transition: .5s;
}
.featured-imagebox-portfolio .ttm-media-link a.ttm_link{
    transform: translateX(20px);
    -webkit-transition: 1s;
    margin-right: -51px;
}
.featured-imagebox-portfolio:hover .ttm-media-link a{
    -webkit-transform: translate(0);
    transform: translate(0);
}
.featured-imagebox-portfolio .ttm-media-link a:hover{background-color: transparent;}
.featured-imagebox-portfolio .featured-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 15px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}
.featured-imagebox-portfolio:hover .featured-content{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
/*  style2  */
.featured-imagebox-portfolio.style2 .featured-thumbnail:before{
    position: absolute;
    content: '';
    background-color: rgba(255,255,255,.75);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .9s ease;
    z-index: 1;
    opacity: 0;
}
.featured-imagebox-portfolio.style2:hover .featured-thumbnail:before{opacity: 1;}
.featured-imagebox-portfolio.style2 .featured-content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    width: 84%;
    z-index: 1;
    transform: translateY(100%);
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 0.9s;
    -ms-transition: all 0.9s;
    transition: all 0.9s;
    padding: 23px 25px 24px;
    text-align: left;
}
.featured-imagebox-portfolio.style2:hover .featured-content{
    opacity: 1;
    transform: translateY(0);
}
/* testimonial-slide */


/*  blog  */
.featured-imagebox-blog{
    background-color: #fff;
    margin-bottom: 10px;
}
.featured-imagebox-blog:hover{
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.10);
    box-shadow: 1px 2px 10px rgba(0,0,0,.10);
}
.featured-imagebox-blog .featured-thumbnail{position: relative;overflow: hidden;}
.featured-imagebox-blog:hover .featured-thumbnail img{
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
    -webkit-transition: all 3s ease-out;
    transition: all 3s ease-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.ttm-blog-overlay-iconbox a{
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -17px;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 25px;
    background: transparent;
    -webkit-transition: all .9s ease;
    -o-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease;
    transform: scale(0);
    -webkit-transform: scale(0);
}
.featured-imagebox-blog:hover .ttm-blog-overlay-iconbox a{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.featured-imagebox-blog .featured-content{padding: 45px 25px 25px 25px; position: relative;}
.post-meta{
    display: block;
    padding: 5px 0;
    margin: 10px 0;
}
.featured-imagebox-blog .post-meta{
    display: block;
    padding: 5px 0px;
    margin: 12px 0px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
}
.featured-imagebox-blog .post-meta .ttm-meta-line:not(:last-child){  padding-right: 23px;}
.post-meta i{padding-right: 5px;}
.post-meta .ttm-meta-line{position: relative;}
.post-meta .ttm-meta-line:not(:last-child):after{
    position: absolute;
    content: "";
    height: 16px;
    width: 1px;
    right: 10px;
    top: 0;
    background-color: #dce1e9;
}
.ttm-box-post-date{
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
}
.ttm-box-post-date .entry-date{
    height: 60px;
    width: 60px;
    display: block;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.featured-imagebox-blog .ttm-box-post-date{
    left: 25px;
    top: -35px;
    border-radius: unset;
}
.ttm-entry-date span{display: block;}
.featured-imagebox-blog .ttm-box-view-overlay:after{
    content: '';
    position: absolute;
    left: 0!important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.featured-imagebox-blog .ttm-box-view-overlay:before{
    content: '';
    position: absolute;
    right: 0!important;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}
.featured-imagebox-blog:hover .ttm-box-view-overlay:before,
.featured-imagebox-blog:hover .ttm-box-view-overlay:after{
    opacity: .5;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
/*  style2  */
.featured-imagebox-blog.style2{ padding: 15px; margin-top: 5px; }
.featured-imagebox-blog.style2 .featured-content{ padding: 25px 5px 5px;}
.featured-imagebox-blog.style2 .post-meta{
    display: block;
    padding-top: 16px;
    margin: 16px 38px 4px 0;
    padding-bottom: 0;
    border-top: 1px solid #f0f0f0;
    font-size: 12px;
}
.featured-imagebox-blog.style2 .ttm-box-post-date {
    left: 15px;
    top: -80px;
}
.featured-imagebox-blog.style2 .ttm-entry-date span {
    display: block;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.featured-imagebox-blog.style2 .ttm-box-post-date .entry-date{display: block;line-height: 30px;}

/*  services  */


/*  services  */


/* post */
/* ===============================================
    14.Processbox
------------------------*/

/* ===============================================
    15.Progress-Bar
------------------------*/
.ttm-progress-bar {
    position: relative
}
.ttm-progress-bar:not(:last-child) {
    margin-bottom: 24px
}
.ttm-progress-bar .progress-bar-title {
    top: -35px;
    left: 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 11px
}
.ttm-progress-bar .progress-bar-percent {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    text-shadow: none
}
.ttm-progress-bar .progress-bar {
    border-radius: 0;
    height: 6px;
    position: relative
}
.ttm-progress-bar .progress-bar-inner {
    height: 6px;
    width: 100%;
    background-color: #e9e9e9
}
.progress-bar:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    bottom: -6px;
    right: -1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .06)
}


/* ===============================================
    16.Testimonial
------------------------*/

/* ===============================================
    17.Client-row  
------------------------*/
.client-box{ 
    margin-bottom: 20px;
    padding: 15px 12px 30px;
}
.ttm-client-logo-tooltip{ position: relative; }
.client-box.ttm-box-view-boxed-logo{ 
    padding: 0;
    margin-top: 30px; 
    margin-bottom: 30px;
}
.client-box.ttm-box-view-boxed-logo .ttm-client-logo-tooltip{
    margin-right: 13px;
    margin-left: 13px;
    padding: 18px 12px;
    display: table-cell;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.client-box.ttm-box-view-boxed-logo .client{
    width: 100%;
    display: table;
}
.client-box.ttm-box-view-boxed-logo .client:hover img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}
.client-box.ttm-box-view-boxed-logo{position: relative;display: block;}

/* ===============================================
    18.Accordion
------------------------*/

/* accordion.style2 */

/* ===============================================
    19.Wrap-Form
------------------------*/
/* quote-form */


/* ===============================================
    20.Tab
------------------------*/

/* ttm-tab-style-vertical */

/* ttm-tab-style-horizontal */

/* ttm-tab-style-classic-style1*/
/* ttm-tab-style-classic-style2*/
/* ===============================================
    21.Boxes-Spacing
------------------------*/

.row.ttm-boxes-spacing-5px{ padding: 10px 5px 0px; margin: 0;}
.ttm-boxes-spacing-5px .ttm-box-col-wrapper {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.row.ttm-boxes-spacing-5px.style2{ padding: 5px 0 0; margin: 0 -5px; }

/* ===============================================
    22.Pricing-Plan
------------------------*/
/* ===============================================
    23.Sidebar
------------------------*/

/*author-widget*/

/*widget-search*/

/*widget-categories*/

/** ttm-recent-post-list **/
ul.ttm-recent-post-list>li {
    padding: 5px 0 15px !important;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}
ul.ttm-recent-post-list>li:last-child{padding-bottom: 0 !important;}
ul.ttm-recent-post-list>li img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid rgba(46,56,77,1);
}
ul.ttm-recent-post-list>li .post-date {
    display: block;
    font-size: 11px;
    line-height: 14px;
    margin-top: 5px;
}
ul.ttm-recent-post-list>li .post-date i{margin-right: 7px;font-size: 11px;}
/* widget_media_gallery */
/* tagcloud-widget */

/* widget-nav-menu */
/* categories-widget */
/* product-list-widget */

/* contact-widget */
/* download-widget */
/* widget_media_image */

/* pagination */

/* ===============================================
    23.Products
------------------------*/

/* single-product-details */

/* Cart */


/* checkout */


